/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*  */

body {
  background-color: #ecf2f8;
  font-size: 0.8125rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  padding: 4.375rem 1.5rem;
  color: #ffffff;
}

section > div {
  display: flex;
  gap: 1rem;
}

div img {
  border-radius: 50%;
  width: 1.75rem;
  margin-bottom: 1.125rem;
}

.text span {
  opacity: 50%;
  font-size: 0.6875rem;
}

section {
  padding: 2em 2.46em 2.46em 2.46em;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

section.daniel {
  background-image: url("/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: right 1.5rem top;
}
section .kira {
  margin-bottom: 0;
}

section h2 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
}

section.daniel h2 {
  margin-bottom: 2.5rem;
}

.daniel {
  background-color: #733fc8;
}

.daniel img {
  border: 2px solid #a775f1;
}
.patrick img {
  border: 2px solid #733fc8;
}

.jonathan {
  background-color: #48556a;
}

.kira,
.jeanette {
  color: #48556a;
  background-color: #ffffff;
}

.patrick {
  background-color: #19202d;
  color: #ecf2f8;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    padding: 10rem;
  }

  section {
    margin-bottom: 0;
  }

  main {
    display: grid;
    column-gap: 1.875rem;
    row-gap: 1.5rem;
    grid-template-areas:
      "daniel daniel jonathon kira"
      "jeanette patrick patrick kira ";
  }
  .daniel {
    grid-area: daniel;
  }
  .jonathan {
    grid-area: jonathon;
  }
  .jeanette {
    grid-area: jeanette;
  }
  .patrick {
    grid-area: patrick;
  }
  .kira {
    grid-area: kira;
  }

  section.daniel h2 {
    margin-bottom: 1rem;
  }
}
